<div id="start-page" style="text-align:center">

    <div>

        <div class = "webcam-zone" *ngIf="showWebcam">
            <webcam [height]="800" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" 
                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                [videoOptions]="videoOptions"
                [imageQuality]="1"
                (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)"
            ></webcam>
        </div>
        
        <!-- <br/>
        <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
        <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
        <br/>
        <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button>
        <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label for="cameraSwitchCheckbox">Allow Camera Switch</label>
        <br/>
        DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
        <button (click)="showNextWebcam(deviceId);">Activate</button> -->
        
        <button mat-fab primary color="primary" *ngIf="!startvideo" (click)="triggerSnapshot();">
            <mat-icon *ngIf="!startvideo">album</mat-icon>
            <mat-icon *ngIf="startvideo">pause_circle_outline</mat-icon>
        </button>
    </div>
        
</div>